<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>

</head>

<body>

	<span th:text="${message}"></span>
	<form action="#" th:action="@{/login}" th:object="${loginUser}" method="post">
		<input type="text" name="userName" th:value="${loginUser?.userName}" /></br>
		<input type="text" name="password" th:value="${loginUser?.password}" /></br>
		<input type="submit" value="登录"/>
	</form>
	
	session的值：<span th:text="${session.loginUser?.userName}"></span>
	
</body>
</html>