<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" th:href="@{/css/test.css}" href="../css/test.css" type="text/css" />
<script type="text/javascript" th:src="@{/js/test.js}" src="../js/test.js"></script>

<title></title>

</head>

<body>

	<div onClick="myClick()" class="main_text">Hello <span th:text="${name}"></span></div>

</body>
</html>